/* .course-details {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.course-details-image {
    width: 100%;
    height: auto;
}

.course-details-title {
    font-size: 2em;
    margin-top: 0;
}

.course-details-description {
    font-size: 1.2em;
}

.course-details ul {
    list-style-type: none;
    padding: 0;
}

.course-details li {
    background: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
} */
